.button {
    background-color: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    border-color: aqua;
}

.blue {
    background-color: #61dafb;
}

.orange {
    background-color: #f7941d;
}

.red {
    background-color: rgb(192, 4, 4);
}
